body{
    padding: 0 ;
    margin: 0;
    align-items: center;
}


.board {
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
}

/**{
    outline: 1px solid red;
} */

.shogi-Square{
    flex: 1 1 33%;
    aspect-ratio: 1;
    border: 1px solid black;
}

#boardGame{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
