body{
    padding: 0 ;
    margin: 0;
    display: inline-block;
    align-items: center;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}


.board {
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
}

*{
    outline: 1px solid red;
}