


.board {
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
}


.shogi-Square{
    flex: 1 1 33%;
    aspect-ratio: 1;
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boardGame{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

 img{
    display: block;
    width: 70%;
    margin: 0 auto;
 }